
body{
    margin: 0%;
}


.főoldal{
    background-color: black;
    text-align: center;
    padding: 20px; 
    position: fixed;
    display: flex;
    width: 100%;
    animation: fo-load 0.5s ease-in;
    animation-fill-mode: forwards;
}

.főoldal a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.főoldal span{
    text-align: center;
    margin: auto;
    
}


span:hover{
    text-decoration: underline;
}

.camera-szoveg{
    margin: auto;
    width: 70%;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}

.h1-iphone{
    text-align: center;
    
}

.hatter{
    background-color: lightgray;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}


.hatter2{
    background-color: lightgray;
    margin-left: 10px;
    padding-top: 30px;
    padding-bottom: 113px;
    width: 49%;
    text-align: center;
    float: left;
}

.hatter3{
    background-color: lightgray;
    margin-right: 10px;
    padding-top: 30px;
    width: 49%;
    text-align: center;
    float: right;
}

#sierra{
    border-radius: 50px; 
    height: 587px;
    margin-left: 150px;
}


#macbook-pro{
    width: 500px;
    border-radius: 20px;
}


#ipad-mini{
    width: 500px;
}


#iphone-13pro{
  margin-top: 50px;

}

#apple-watch{
    width: 500px;
    border-radius: 20px;
}

.hatter4{
    background-color: lightgray;
    text-align: center;
    margin-top: 610px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hatter5{
    background-color: lightgray;
    text-align: center;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 30px;
}


#airpods{
    width: 600px;
    border-radius: 20px;
}



#logo{
    border-radius: 1000px;
    width: 40px;
    margin: 20px;

}


#ipad-pro{
    border-radius: 20px;
    margin-top: 50px;
    text-align: center;
}


.iphone{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 380px;
 }


.iphone2{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
}


.iphone3{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
}

.iphone4{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: auto;
    
}


.ipad{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 380px;
}
.ipad a{
    color: white;
    background-color: blue;
   text-decoration: none;
    border-radius: 5px;
        padding: 2px;
        margin: 5px;
}
.ipad2 a{
    color: white;
    background-color: blue;
   text-decoration: none;
    border-radius: 5px;
        padding: 2px;
        margin: 5px;
}
.ipad3 a{
    color: white;
    background-color: blue;
   text-decoration: none;
    border-radius: 5px;
        padding: 2px;
        margin: 5px;
}
.ipad4 a{
    color: white;
    background-color: blue;
   text-decoration: none;
    border-radius: 5px;
        padding: 2px;
        margin: 5px;
}
.ipad2{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
}


.ipad3{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
}


.ipad4{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-left: 0px;
}
.ipad img{
    width: 200px;
    border-radius: 20px;  
}

.ipad2 img{
    width: 200px;
    border-radius: 20px;
}

.ipad3 img{
    width: 200px;
    border-radius: 20px;
}

.ipad4 img{
    width: 200px;
    border-radius: 20px;
}

.iphone img{
    border-radius: 20px;
}

.iphone4 img{
    border-radius: 20px;
    height: 180px;
}


 #iphone-13-pro{
     margin-left: 500px;
 }

.macbook{
    max-width: 220px;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 535px;
}

.macbook a{
    color: white;
    background-color: blue;
   text-decoration: none;
    border-radius: 5px;
        padding: 2px;
        margin: 5px;
}
.macbook2 a{
    color: white;
    background-color: blue;
   text-decoration: none;
    border-radius: 5px;
        padding: 2px;
        margin: 5px;
}
.macbook3 a{
    color: white;
    background-color: blue;
   text-decoration: none;
    border-radius: 5px;
        padding: 2px;
        margin: 5px;
}

.macbook2{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
}


.macbook3{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: auto;
    
}



.apple-watch{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 500px;
    padding: 10px;
}

.apple-watch a{
    color: white;
    background-color: blue;
   text-decoration: none;
    border-radius: 5px;
        padding: 2px;
        margin: 5px;
}
.apple-watch2 a{
    color: white;
    background-color: blue;
   text-decoration: none;
    border-radius: 5px;
        padding: 2px;
        margin: 5px;
}
.apple-watch3 a{
    color: white;
    background-color: blue;
   text-decoration: none;
    border-radius: 5px;
        padding: 2px;
        margin: 5px;
}


.apple-watch2{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 10px;
}


.apple-watch3{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 10px;

}

.apple-watch3 img{
    width: 200px;
    border-radius: 20px;
}

.apple-watch2 img{
    width: 200px;
    border-radius: 20px;
}

.apple-watch img{
    width: 200px;
    border-radius: 20px;
}




.macbook img{
    width: 200px;
    border-radius: 5px;
}


.macbook2 img{
    width: 200px;
    border-radius: 5px;
}


.macbook3 img{
    width: 200px;
    border-radius: 5px;
}




    .menü{
        background-color: rgb(59, 59, 59);
        height: 40px;
        text-align: center;
    }
    .menü a{
        text-decoration: none;
        color: white;
    }
    .iphone img{
        max-width: 180px;
    }
    .iphone a{
        text-decoration: none;
        color: white;
    }
    .iphone span{
        max-width: 20px;
        background-color: blue;
        border-radius: 5px;
        padding: 2px;
        margin: 5px;
    }
    .iphone2 a{
        text-decoration: none;
        color: white;
    }
    .iphone2 span{
        max-width: 20px;
        background-color: blue;
        border-radius: 5px;
        padding: 2px;
        margin: 5px;
    }
    .iphone3 a{
        text-decoration: none;
        color: white;
    }
    .iphone3 span{
        max-width: 20px;
        background-color: blue;
        border-radius: 5px;
        padding: 2px;
        margin: 5px;
    }
    .iphone4 a{
        text-decoration: none;
        color: white;
    }
    .iphone4 span{
        max-width: 20px;
        background-color: blue;
        border-radius: 5px;
        padding: 2px;
        margin: 5px;
    }
    #iphone13{
    width: 300px;
    margin: 30px 520px;
    }


    p{
        margin: 0 auto;
    }
    .pro {
        text-align: center;
        margin-top: 80px;
    }
    .pro span{
        max-width: 20px;
        background-color: blue;
        border-radius: 5px;
        padding: 2px;
        margin: 5px;
    }
    .pro a{
        text-decoration: none;
        color: white;
    }
    #többinfo{
        text-decoration: none;
        color: blue;
    }
    .mac{
        float: left;
        background-color: antiquewhite;
        padding: 10px;
        margin: 50px;
        height: 550px;
        margin-top: 50px;
    }
    
    .camera{
        margin-bottom: 100px;
        width: 1800px;
    }    


    
@keyframes fo-load{


    0%{
        transform: translateY(-100%);
    }

100%{
    transform: translateY(0);
}

}



.footer{
    float: right;
    clear: both;
    background-color: lightgray;
    border-top: 3px solid black;
    line-height: 150%;    
}


.airpods{
    margin-top: 50px;
}

h1,h2{
    margin-top: 90px;
    text-align: center;
}

.hirkép{
    max-height: 300px;
    float: right;
    border-radius: 10px;
}
.cikk{
    float: right;
    clear: both;
    background-color: lightgray;
    border: 3px solid black;
    line-height: 150%;    
    margin: 20px;
    border-radius: 50px;
    padding: 20px;
}
.elérhetőségek{
    background-color:lightgray;
    border-top: solid 3px;
    height: 40px;
}
.elérhetőségek a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#contakt{
    background-color: white;
}
.email{
    background-color: lightgray;
    border: solid 3px black;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
.email p{
    margin: 10px;
}
    
#térkép{
    margin-left:  450px;
    border-radius: 20px;
    margin-bottom: 20px;
    
}

#cimek{
    float: right;
    margin-right: 600px;
}
<<<<<<< HEAD

=======



.keret{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 500px;
    padding-right: 10px;
    padding-left: 10px;

}

.keret2{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
    padding-right: 10px;
    padding-left: 10px;

}

.keret3{
    max-width: 220px ;
    float: left;
    background-color: lightgray;
    border-radius: 20px;
    margin-right: 80px;
    text-align: center;
    border: solid 3px black;
    margin-top: 40px;
    margin-bottom: 60px;
    padding-right: 30px;
    padding-left: 30px;

}

.keret img{
    width: 180px;
    border-radius: 20px;
}

.keret2 img{
    width: 180px;
    border-radius: 20px;
}

.keret3 img{
    width: 165px;
    border-radius: 20px;
}

.keret span{
    max-width: 20px;
    background-color: blue;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
}

.keret2 span{
    max-width: 20px;
    background-color: blue;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
}

.keret3 span{
    max-width: 20px;
    background-color: blue;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;

}

.keret a{
    color: white;
   text-decoration: none;
}

.keret2 a{
    color: white;
    text-decoration: none;
}

.keret3 a{
    color: white;
    text-decoration: none;
>>>>>>> 0bf02e2ee217c0eb96133e202b46ef28c3d9ca8c
}